<a data-toggle="dropdown" href="http://e-apex.com/#" class="user-menu dropdown-toggle">
    <img class="nav-user-photo" src="../Images/avatar1.jpg" alt="Penny&#39;s Photo">
    <span class="hhh" id="user_info">
        Penny
    </span>
    <i class="fa fa-caret-down"></i>
</a>
<!-- BEGIN User Dropdown -->
<ul class="dropdown-menu dropdown-navbar" id="user_menu">
    <li class="nav-header">
        <i class="fa fa-clock-o"></i>
        Logined From 20:45
    </li>
    <li>
        <a href="http://e-apex.com/#">
            <i class="fa fa-cog"></i>
            Account Settings
        </a>
    </li>
    <li>
        <a href="http://e-apex.com/#">
            <i class="fa fa-user"></i>
            Edit Profile
        </a>
    </li>
    <li>
        <a href="http://e-apex.com/#">
            <i class="fa fa-question"></i>
            Help
        </a>
    </li>
    <li class="divider visible-xs"></li>
    <li class="visible-xs">
        <a href="http://e-apex.com/#">
            <i class="fa fa-tasks"></i>
            Tasks
            <span class="badge badge-warning">4</span>
        </a>
    </li>
    <li class="visible-xs">
        <a href="http://e-apex.com/#">
            <i class="fa fa-bell"></i>
            Notifications
            <span class="badge badge-important">8</span>
        </a>
    </li>
    <li class="visible-xs">
        <a href="http://e-apex.com/#">
            <i class="fa fa-envelope"></i>
            Messages
            <span class="badge badge-success">5</span>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="http://e-apex.com/#">
            <i class="fa fa-off"></i>
            Logout
        </a>
    </li>
</ul>
<!-- BEGIN User Dropdown -->